@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3b5998;
}
.logo{
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    color: white;
}
.login-form{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    
}
.login-input-div{
    margin-left: 20px;
}
.label{
    color: white;
    margin-bottom: 3px;

}
.login-input{
    color: aliceblue;


}
.forget-p{
    text-decoration: none;
    color: aliceblue;
}
.login-btn{
    margin-left: 20px;
    margin-top: 19px;
}
.login-btn button{
    width: 80px;
    background-color: #7099f0;
    height: 25px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.container{
    display: flex;
}
.content-body{
    width: 50%;
    margin-left: 30px;
    margin-top: 60px;
}
.content-body h1{
    font-family: "Poppins", sans-serif;
    font-size: 4.5vh;
}
.fb-content-image{
    width: 100%;
    margin-top: 50px;
}
.signup-body{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 10px;
}
.sign-up-h1{
    font-family: "Poppins", sans-serif;
    font-size: 4vh; 
}
.gray{
    color: gray;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
margin-top: 10px;
}
.usernames{
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.inputname{
    margin: 5px;
    height: 35px;
    width: 250px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 0.5 solid gray;
    margin-left: 10px;
}
.signupemail{
    width: 100%;
    margin-top: 10px;
}
.inputemail{
    width: 515px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 0.5 solid gray;
    margin-left: 10px;
    
}
.signup-password{
width: 100%;
margin-top: 10px;
}
.inputpassword{
margin: 5px;
height: 40px;    
width: 515px;
padding: 10px;
font-size: 18px;
border-radius: 5px;
border: 0.5 solid gray;
margin-left: 10px;
}
.birthday-h3{
font-family: "Roboto", sans-serif;
margin-left: 10px;
margin-top: 20px;
margin-bottom: 20px;    
}
.birthday{
    display: flex;
    align-items: center;
    padding: 10px;
}
#days,
#year,
#month{
    height: 35px;
}
.whyneedbd{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: darkblue;
    margin-left: 25px;
}`
.gender{
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 600px;    
}
.gender input{
    margin: 10px;
}
.ppolicy{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
}
.ppolicy p{
    margin-left: 10px;
}
.bolddark{
    color: darkblue;
    font-weight: 600;
}
.signupbtn{
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(#67ae55,#578843);
    color: white;
    cursor: pointer;

}
.craetepagecel{
    margin: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;

}
.craetepagecel p{
    margin: 10px;
}